apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  selector:
    app: fastapi-app
  type: NodePort
  ports:
    - protocol: TCP
      port: 8000       # Service port inside cluster
      targetPort: 8000 # Container port
      nodePort: 30001  # Port exposed on host
